body {
	font-family: sans-serif;
	background-color: #ffffff;
  }
  
  .file-upload {
	margin: 0 auto;
	padding: 13% 3%;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
  }
  
  .file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1FB264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824B;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
  }
  
  .file-upload-btn:hover {
	background: #1AA059;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
  }
  
  .file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
  }
  
  .file-upload-content {
	display: none;
	text-align: center;
  }
  
  .file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
  }
  
  .image-upload-wrap {
	width: 60%;
	border: 4px dashed #1FB264;
	position: relative;
	object-fit: contain;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
	background-color: #5789ca;
	border: 1.5px dashed #ffffff;
  }
  
  .image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
  }
  
  .drag-text {
	text-align: center;
  }
  
  .drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	font-family: NanumSqareR;
	font-size: 2rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
  }
  
  .file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
  }
  
  .remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
  }
  
  .remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
  }
  
  .remove-image:active {
	border: 0;
	transition: all .2s ease;
  }

  .nav-distance {
	  padding: 2.1% 7.7%;
  }

  .navbar-light .navbar-brand{
	font-family: NanumSquareR;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
  }

  .navbar-light .navvar-toggler{
      border-color: #ffffff
  }

  .section {
	  margin-top: 100px;
  }

  .title {
	    
	font-family: NanumSquareR;
	line-height: 1.67;
	text-align: center;
	color: #35465d
  }

  .subtitle {
      font-family: NanumSquareR;
	  line-height: 1.53;
	  text-align: center;
	  color: #35465d;
  }

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	html {
	  font-size: 10px;
	}
	  .navbar-brand {
		  font-size: 2rem;
	  }
  }

  .facebook-link{
	font-family: NanumSquareR;
    font-size: 2rem;
	line-height: 1.71;
	text-align: center;
	color: #01f8d7;
	text-decoration: underline;
}

.facebook-icon {
	width: 8%;
}

.rabbit-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(235, 166, 190, 0.2);
  }
  
.rabbit-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(235, 166, 190, 1);
  }

.link-icon { 
	position: relative;
	display: inline-block; 
	width: auto;    
	font-size: 14px; 
	font-weight: 500; 
	color: #333; 
	margin-right: 10px; 
	padding-top: 50px; 
  }
  
.link-icon.twitter { 
    background-image: url(img/icon-twitter.png); 
	background-repeat: no-repeat; 
}
 
.link-icon.facebook { 
	background-image: url(img/icon-facebook.png); 
	background-repeat: no-repeat; 
} 
 
.link-icon.kakao { 
	background-image: url(img/icon-kakao.png); 
	background-repeat: no-repeat; 
}

.loader {
	
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #838383; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
