# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno and run tests across stable and nightly builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denolib/setup-deno

name: CI

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo service nginx stop
            cd /home/ubuntu/nginx/html/img
            sudo rm -f *
            cd ..
            sudo rmdir img
            cd /home/ubuntu/nginx/html
            sudo rm -f *
            cd ..
            sudo rmdir html
            sudo git clone https://github.com/hackerj5016/html.git
            sudo service nginx start
      - name: send custom message with args
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          args: ${{ github.actor }} 님 소스 웹서버 반영 완료 됐어요.
